<div class="container-fluid">
  <div class="row sampleRow">
	<div class="col-md-1">
	</div>
	  <div class="col-md-10">

		<div class="genres_box">
		  <%= nested_form_for (@space), url:create_category_facility_path(id: @space.id) do |f| %>
		    <%= f.fields_for :category do |tf| %>
			  <% @genres.each do |genre| %>
			  <%= tf.check_box :genre_id, {multiple: true}, genre.id %>
			  <%= genre.name %>
		    <% end %>
		  <% end %>
		</div>

	<%= f.fields_for :facility do |tf| %>
	<%= tf.label "アメニティ" %><br>
		<% @amenities.each do |amenitie| %>
    	<%= tf.check_box :amenitie_id, {multiple: true}, amenitie.id %>
		<%= amenitie.name %>
  		<% end %>
	<% end %>
  <%= f.submit %>
<% end %>

</div>
	<div class="col-md-1">
	</div>
  </div>
</div>