<h1>予約内容入力ページだよ</h1>
<p>日にちを選んでね</p>
<%= form_for (@reservation), url: space_reservations_path do |f| %>
	<%= f.label "予約日" %>
	<%= f.date_select :reservation_date, {}, class: 'form-control'%><br>


<p>時間を選んでね</p>

	<%= f.label "開始時間" %>
	<%= f.time_select :start_time,{minute_step: 60} %><br>

	<%= f.label "終了時間" %>
	<%= f.time_select :finish_time,{minute_step: 60} %><br>


	<%= f.submit "この内容で予約"%>
<% end %>