
<div class="container-fluid">
  <% categorys.each do |category| %>
      <div class="space_mini_box">
        <div class="theTarget">
            <% category.space.space_images.each do |space_image| %>
            <div>
             <p class="price index">¥<%= category.space.price %>/1h</p>
              <%= attachment_image_tag space_image, :image,fallback: "no_image.jpg",class: "space_image index"%>
            </div>
            <% end %>
        </div>
        <div class="space_text index">
          <p><%= link_to category.space.name.truncate(40,omission: '...') ,space_path(category.space.id) %></p>
          <p class="glyphicon glyphicon-flag addres index"><%= category.space.address %></p>
          <p class="glyphicon glyphicon-user capacity index">~<%= category.space.capacity %>人</p>
        </div>
      </div>
  <% end %>
</div>



