

<div class="container-fluid">
  <div class="row sampleRow">
    <div class="col-md-1">
    </div>
    	<div class="col-md-10">
			<% @categorys.each do |category| %>
				<% category.space.space_images.each do |space_image| %>
					<%= attachment_image_tag space_image,:image,class:"top-spaces" %>
				<% end %>
				<%= category.space.price %>
				<%= link_to category.space.name,space_path(category.space.id) %>
				<%= category.space.addres %>
				<%= category.space.capacity %>
			<% end %>
    	</div>
    	<div class="col-md-1">
	</div>
</div>

